/* -------------  Import Fontes -----------------*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Raleway:wght@600&display=swap');
/*  font-family: 'Raleway', sans-serif;  ------- font-family: 'Alfa Slab One', cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}
main{
    width: 100%;
    height: 100vh;
}

/*************** Menu NavBar **************************/

header{
    border-bottom: 1px solid #fff;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 2% 0px 7%;  
    align-items: center;
    background-color: #555;
}
header .logo{
    display: flex;
    align-items: center;  
}
header .logo a{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 3px;
}
header .logo span{
    color: aqua;
}
header .navbar ul{
    display: flex;
}
header .navbar ul li{
    list-style: none;
}
header .navbar ul li .navbar-text{
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: aqua;
    padding: 25px 15px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}
header .navbar ul li .navbar-text span{
    color: #fff;
    margin-left: 10px;
}
header .navbar ul li .navbar-text:hover{
    color: red;
    background-color: #777;
    transition: 0.8s;
}
header .navbar .hamburger{
    display: none;
    cursor: pointer;
}
header .navbar .hamburger .bar{
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

/******************** home *****************************/

main .home{
    background-image: url(../pictures/background2.jpg);
    background-color: black;
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: left;
    align-items: center;
}
main .home .container-header{
    width: 100%;
    justify-content: left;
    padding-left: 100px;
    padding-top: 100px;
}
main .home .container-header h1{
    color: #00ffff;
    font-size: 70px;
    letter-spacing: 2px;
    padding: 15px 0;
    
} 
main .home .container-header h3{
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
}
main .home .container-header h3 span{
    color: #FF0000;
}
main .home .container-header h4{
    color: #fff;
    font-size: 45px;
    letter-spacing: 1px;
}
main .home .container-header .newslatter{
    width: 50%;
    display: flex;
    /*flex-direction: column;*/
    justify-content: left;
    align-items: left;
    padding: 50px 0;
    color: #fff;
}
main .home .container-header .newslatter h5{
    padding: 5px 5px;
    align-items: baseline;
}
main .home .container-header .newslatter form{
    display: flex;
    align-items: center;
}
main .home .container-header .newslatter form input{
    margin: 5px;
    padding: 7px 20px;
    cursor: pointer;
    outline: none;
    
}
main .home .container-header .newslatter form input:first-child{
    border: 2px solid aqua;
    border-radius: 10px;
}
main .home .container-header .newslatter form input:last-child{
    border: none;
    background-color: aqua;
    color: #333;
    border-radius: 10px;
    padding: 7px;
}
main .home .container-header .newslatter form input:last-child:hover{
    color: #fff;
}

/********************** About  ***************************/

main .about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    background-color: black;
}
main .about .container-about {
    width: 85%;
    background-color: #333;
    display: flex;
    border-radius: 30px;
    margin-top: 90px;
    margin-bottom: 80px;
}
main .about .container-about .photo{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .about .container-about .photo img{
    width: 350px;
    border-radius: 500px;
}
main .about .container-about .about-text{
    width: 60%;
    background-color: #555;
    border: 1px solid #777;
    border-radius: 30px;
    padding: 15px;
}
main .about .container-about .about-text h2{
    color: aqua;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: #000 2px 3px 2px;
}
main .about .container-about .about-text p{
    margin-top: 10px;
    color: #999;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 22px;
}
main .about .container-about .about-text .download{
    display: inline-block;
    margin-top: 20px;
    border-radius: 50px;
    background-color: aqua;
    cursor: pointer;
    border: none;   
}
main .about .container-about .about-text .download:hover{
    background-color: #fff;  
}
main .about .container-about .about-text .download .btn{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1C1C1C;
    margin: 2px 15px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
} 
main .about .container-about .about-text .download .btn i{
   font-size: 40px;
   border-radius: 50%;
   color: #1C1C1C;  
} 
main .about .container-about .about-text .tab-titles{
    margin: 20px 0;
    display: block;
}
main .about .container-about .about-text .tab-titles .tab-links{
    margin-right: 50px;
    font-size: 18px;
    color: black;
}
main .about .container-about .about-text .tab-titles .tab-links ul li{
    display: block;
    list-style: none;
    margin: 5px;
    color: #fff;
    font-size: 15px;
    padding-top: 5px;
}
main .about .container-about .about-text .tab-titles .tab-links ul li span{
    color: aqua;
    font-size: 19px;
}

/********************** skills *******************************/

main .skills{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 80px;
}
main .skills .container-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-items: row;
    margin: 50px 100px;
    border-radius: 30px;
    background-color: #333;
}
main .skills .container-skills .title{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 2.5rem;
    font-size: 40px;
    color: aqua;
    text-shadow: #000 2px 3px 2px;
}
main .skills .container-skills .box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}
main .skills .container-skills .box-container .box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #c0c0c0;
    width: 400px;
    margin-bottom: 30px;
    cursor: pointer;
    border: 1px solid #fff;
}
main .skills .container-skills .box-container .box:hover{
    background-color: #1C1C1C;
    transform: scale(1.1);
    transition: 0.5s;
}
main .skills .container-skills .box-container .box img{
    height: 150px;
    border: 1px solid #fff;
    background-color: #c0c0c0;
}
main .skills .container-skills .box-container .box img:hover{
    height: 150px;
    border: 1px solid #fff;
    background-color: #c0c0c0;
    transform: rotate(-10deg);
    transition: 0.4s;
}

/*********************** Projects *****************************/

main .projects{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 80px;
}
main .projects .conteiner-projects{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: row;
    margin: 50px;
    border-radius: 30px;
    background-color: #333;
}
main .projects .conteiner-projects .projects-title{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 2.5rem;
    font-size: 40px;
    color: aqua;
    text-shadow: #000 2px 3px 2px;
}
main .projects .conteiner-projects .box-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}
main .projects .conteiner-projects .box-projects .box-p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #c0c0c0;
    margin-bottom: 30px;
    cursor: pointer;
    border: 1px solid #fff;
}
main .projects .conteiner-projects .box-projects .box-p:hover{
    box-shadow: 0 0 35px aqua;
}
main .projects .conteiner-projects .box-projects .box-p .img{
    height: 270px;
    border: 1px solid #fff;
}
main .projects .conteiner-projects .box-projects .box-p .img img{
    height: 250px;
}
main .projects .conteiner-projects .box-projects .box-p .img:hover{
    transform: scale(1.1);
}

/************************ Contatos ******************************/

main .contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    padding-top: 0px;
}
main .contacts .container-contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    margin-top: 80px;
    padding: 40px;
    border-radius: 30px; 
    background-color: #333;
}
main .contacts .container-contacts h1{
    color: #00ffff;
    font-size: 50px;
    text-shadow: #000 2px 3px 2px;
}
main .contacts .container-contacts .container-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
}
main .contacts .container-contacts .container-box .container-links{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
main .contacts .container-contacts .container-box .container-links .types-social{
    display: flex;
    padding: 30px 5px;
    text-decoration: none;
    transform: scale(1.1);  
}
main .contacts .container-contacts .container-box .container-links .types-social:hover{
    transform: scale(1.2);
    
}
main .contacts .container-contacts .container-box .container-links .types-social .logo a img{
    max-width: 100%;
    width: 125px;   
}


main .contacts .container-contacts .container-box .contact-email{  
    width: 800px;
    max-width: 100%;
    padding: 40px;
    background-color: #fff;    
}
main .contacts .container-contacts .container-box .contact-email h4{
    color: black;
    font-size: 18px;
    text-shadow: #777 1px 1px 1px;
    letter-spacing: 1px;
}
main .contacts .container-contacts .container-box .contact-email .input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
main .contacts .container-contacts .container-box .contact-email .input-box input,
main .contacts .container-contacts .container-box .contact-email .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
main .contacts .container-contacts .container-box .contact-email .input-box input:valid ~ span,
main .contacts .container-contacts .container-box .contact-email .input-box input:focus ~ span,
main .contacts .container-contacts .container-box .contact-email .input-box textarea:valid ~ span,
main .contacts .container-contacts .container-box .contact-email .input-box textarea:focus ~ span{
    color: aqua;
    font-size: 12px;
    transform: translateY(-20px);
}
main .contacts .container-contacts .container-box .contact-email .input-box span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
main .contacts .container-contacts .container-box .contact-email input[type="submit"]{
    width: 100px;
    background: aqua;
    color: #1C1C1C;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
}






/* --------------- responsive navbar ---------------- */
@media (max-width: 1050px){
    header .navbar ul li .navbar-text {
        font-size: 25px;
        padding: 20px 25px;
    }
    header .navbar ul li .navbar-text span{
        display: none;
    }
    main .conteiner{
        width: 100%;
    }
    main .conteiner .logo-photo img{
        width: 27rem;
    }
    main .about .container-about {
        width: 100%;
    }
    main .about .container-about .photo img{
        width: 300px;
        border-radius: 500px;
    }
    main .skills .container-skills .title{
        font-size: 25px;
    }
    main .skills .container-skills .box-container .box{
        width: 250px;
        height: 250px;
    }    
}
/**********************************************/
@media (max-width: 870px){
    main .home .container-header
    {
        width: 100%;
    }
    main .home .container-header
     .newslatter form{
        margin: 0;
    }
    main .home .container-header
     .newslatter form input{
        margin: 5px;
        padding: 7px 2px
    }
    main .home .container-header
     .newslatter{
        width: 100%;
    }
    main .home .container-header
     .newslatter form{
        width: 80%;
        flex-direction: column;
    }
    main .home .container-header
     .newslatter form input:first-child{
        text-align: left;
        margin: 5px;
    }
}
/**********************************************/
@media (max-width: 600px){
    header .navbar{
        margin: 15px 0;
    }
    header .navbar ul li .navbar-text {
        font-size: 20px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    header .navbar ul li .navbar-text span{
        display: flex;
    }
    header .navbar .hamburger{
        display: block;
    }
    header .navbar .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    header .navbar .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }
    header .navbar .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    header .navbar ul{
        position: fixed;
        left: -100%;
        top: 60px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #333;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    header .navbar ul li{
        margin: 5px 0;
        font-size: 20px;
    }
    header .navbar ul li .navbar-text:hover{
        border: 2px solid #fff;
        transition: 0.8s;
    }
    header .navbar ul.active{
        left: 0;
    }
}
