*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white-color: #fff;
    --black-color: #000;
    --aqua-color: #00ffff;
    --blue-cefa: #87CEFA;
    --blue-bfff: #00BFFF;
    --green-color: #008000;
    --red-color: #ff0000;
    --sun-color: #ffbf00;
    --grey-ddd: #ddd;
    --grey-light: #f9f9f9;
    --grey-999-color: #999;
    --grey-888-color: #888;
    --grey-777-color: #777;
    --grey-666-color: #666;
    --grey-555-color: #555;
    --grey-333-color: #333;
    --grey-dark-color: #1C1C1C;
    --anim-color:#000;
}
html{
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
}
/* corpo */

.home-section{
    position: relative;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    background-color: var(--blue-bfff);
    /* background-image: url(../Designer1.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */
}
.sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
}
.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
}
.home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
    color: #000;
}
.home-section .home-content .bx-menu{
    margin: 0 15px;
    color: var(--black-color);
    font-size: 30px ;
}


/* tabela paciente */

.home-section .pacientes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.home-section .tabela-paciente {
    background-color: var(--white-color);
    border: 1px solid var(--grey-ddd);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 10px;
    padding: 10px;
    border: solid 1px black;
}
.home-section .tabela-paciente th {
    background-color: var(--blue-cefa);
    color: var(--black-color);
    padding: 10px 10px;
    text-align: left;
    border-radius: 10px 10px 0 10px;
    border: 1px solid var(--grey-888-color);
}
.home-section .tabela-paciente td {
    padding: 10px;
    border-bottom: 1px solid var(--grey-ddd);
}
.home-section .tabela-paciente tr:last-child td {
    border-bottom: none;
}
.home-section .tabela-paciente tr:hover {
    background-color: var(--grey-light);
}

.home-section .atencao span{
    color: red;
}

.home-section .atencao p{
    font-size: 18px;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 30px;
    padding-bottom: 50px;
}