*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root{
    --white-color: #fff;
    --black-color: #000;
    --aqua-color: #00ffff;
    --blue-cefa: #87CEFA;
    --blue-bfff: #00BFFF;
    --green-color: #008000;
    --red-color: #ff0000;
    --sun-color: #ffbf00;
    --grey-ddd: #ddd;
    --grey-light: #f9f9f9;
    --grey-999-color: #999;
    --grey-888-color: #888;
    --grey-777-color: #777;
    --grey-666-color: #666;
    --grey-555-color: #555;
    --grey-333-color: #333;
    --grey-dark-color: #1C1C1C;
    --anim-color:#000;
}

body{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    background-color: var(--blue-cefa); 
}



.home-section{
    position: relative;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
}
.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
}
.home-section .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
}
.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
}
.home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
    color: #000;
}
.home-section .home-content .bx-menu{
    margin: 0 15px;
    color: var(--black-color);
    font-size: 30px ;
}
.home-section .home{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.home-section .home form{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   padding-top: 20px;
   background-color: var(--white-color);
   margin-top: 20px;
   padding-bottom: 200px;
   width: 100%;
   border-radius: 30px;
}
.home-section .home .form .cabecario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-top: 20px; 
}
.home-section .home form .cabecario input{
    width: 200px;
    border: 1px solid var(--black-color);
    background-color: var(--blue-cefa);
    margin-right: 10px;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px; 
}
.home-section .home form .cabecario button{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--blue-cefa);
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
.home-section .home form .cabecario .checkData{
    border-radius: 4px;
}
.home-section .home form .cabecario2{
    display: flex;
    padding-top: 20px;
    margin-top: 20px;
}
.home-section .container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    min-width: min-content;
}
.home-section .container .table1{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 30px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.home-section .container .table1 h4{
    margin-bottom: 20px;
    margin-top: 10px;
    color: var(--black-color);
}
.home-section .container .table1 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}
.home-section .container .table1 td {
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 0px;
    text-align: left;
    padding-left: 3px;
}
.home-section .container .table1 th {
    background-color: var(--blue-cefa);
    color: var(--black-color);
    padding: 10px;
    text-align: left;
    border-radius: 0px;
}
.home-section .container .btnMenu{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}
.home-section .container .btnMenu button{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--blue-bfff);
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer; 
}
.home-section .container .btnMenu button a{
    color: var(--black-color);
}