*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
}
:root{
    --white-color: #fff;
    --black-color: #000;
    --aqua-color: #00ffff;
    --blue-cefa: #87CEFA;
    --blue-bfff: #00BFFF;
    --green-color: #008000;
    --red-color: #ff0000;
    --sun-color: #ffbf00;
    --grey-ddd: #ddd;
    --grey-light: #f9f9f9;
    --grey-999-color: #999;
    --grey-888-color: #888;
    --grey-777-color: #777;
    --grey-666-color: #666;
    --grey-555-color: #555;
    --grey-333-color: #333;
    --grey-dark-color: #1C1C1C;
    --anim-color:#000;
}

body{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    background-color: var(--blue-cefa); 
}



.home-section{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;

}
.sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
}
.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
}
.home-section .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
}
.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
}
.home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
    color: #000;
}
.home-section .home-content .bx-menu{
    margin: 0 15px;
    color: var(--black-color);
    font-size: 30px ;
}


.home-section .home{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding-left: 15%;
}
.home-section .home form{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   padding-top: 20px;
   background-color: var(--white-color);
   margin-top: 20px;
   padding-bottom: 50px;
   width: 100%;
   border-radius: 30px;
}
.home-section .home .form .cabecario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-top: 20px;
}
.home-section .home form .cabecario input{
    width: 200px;
    border: 1px solid var(--black-color);
    background-color: var(--blue-cefa);
    margin-right: 10px;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}
.home-section .home form .cabecario button{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--blue-cefa);
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
.home-section .home form .cabecario .checkData{
    border-radius: 4px;
}
.home-section .home form .cabecario2{
    display: flex;
    padding-top: 20px;
    margin-top: 20px;
}

/*---------------------------------------------------------------------------------*/
.home-section .home form .formulario1 input{
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid var(--black-color);
    background-color: var(--blue-cefa);
    padding: 1px;
}
.home-section .home form .formulario1 .checkData{
    border: none;
    border-bottom: 1px solid var(--black-color);
    background-color: var(--blue-cefa);
    padding: 1px;   
}
.home-section .home form .formulario1 .form-select{
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid var(--black-color);
    background-color: var(--blue-cefa);
    padding: 1px;
}
.home-section .home form .formulario1 .dados{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
}
.home-section .home form .formulario1 label{
    font-size: 11px;
    font-weight: 700;
    margin-right: 400px;
}
.home-section .home form .formulario1 .dados1{
    display: flex;
    align-items: center;
    flex-direction:row;
    justify-content: left;
    margin-top: 5px;
    padding: 2px;
}
.home-section .home form .formulario1 .dados1 h3{
    font-size: 11px;
    margin-left: 10px;
    margin-right: 4px;
    align-items: center;
}
.home-section .home form .formulario1 .cabecario h1{
    font-size: 24px;
}
.home-section .home form .formulario1 .dados1 .input1{
    width: 75px;
}
.home-section .home form .formulario1 .dados1 .input2{
    width: 300px;
}
.home-section .home form .formulario1 .dados1 .input3{
    width: 50px;
}
.home-section .home form .formulario1 .dados1 .input9{
    margin-left: 34px;
}
.home-section .home form .formulario1 .dados1 .input8{
    margin-left: 17px;
}
.home-section .home form .formulario1 .dados1 .input6{
    margin-left: 27px;
}
.home-section .home form .formulario1 .dados1 .input10{
    margin-left: 6px;
}
.home-section .home form .formulario1 .dados1 .date2, .date3, .date4, .date5{
    width: 110px;
}
.home-section .home form .formulario1 .dados1 .input5,.input6,.input7,.input8,.input9,.input10{
    width: 60px;
}
.home-section .home form .formulario1 .dados1 #esp1{
    margin-left: 88px;
}
.home-section .home form .formulario1 .dados1 #esp2{
    margin-left: 88px;
}
.home-section .home form .formulario1 .dados1 #selectCampo8{
    width: 117px;
}

/*---------------------------------------------------------------------------------*/

.home-section .home form .formulario2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.home-section .home form .formulario2 .quali1{
    display: flex;
    align-items: center;
    flex-direction:row;
    margin-top: 5px;
    margin-bottom: 5px;
}
.home-section .home form .formulario2 .quali1 h3{  
    width: 220px;
    font-size: 11px;
    margin-left: 0px;
    margin-right: 4px;
}
.home-section .home form .formulario2 .quali1 .selectQuali{
    margin-right: 5px;
}
.home-section .home form .formulario2 .selectQuali{
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid var(--black-color);
    background-color: var(--blue-cefa);
}

/*---------------------------------------------------------------------------------*/

.home-section .home form .formulario3{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.home-section .home form .formulario3 .doenca1{
    display: flex;
    align-items: center;
    flex-direction:row;
    margin-top: 5px;
    margin-bottom: 5px;
}
.home-section .home form .formulario3 .doenca1 h3{  
    width: 130px;
    font-size: 11px;
    margin-left: 0px;
    margin-right: 4px;
}
.home-section .home form .formulario3 .doenca1 .doencaCampo1, .doencaCampo2, .doencaCampo3, .doencaCampo4, .doencaCampo5, .doencaCampo6{
    margin-right: 5px;
    border: none;
    border-bottom: 1px solid var(--black-color);
    background-color: var(--blue-cefa);
    border-radius: 5px;
}

/*---------------------------------------------------------------------------------*/

.home-section .home form .formulario4{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.home-section .home form .formulario4 textarea{
    margin-top: 5px;
    width: 630px;
    height: 70px;
    border: none;
    border-bottom: 1px solid var(--black-color);
    background-color: var(--blue-cefa);
    border-radius: 5px;
}

/*---------------------------------------------------------------------------------*/

.home-section .home form .formulario5{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}
.home-section .home form .formulario5 h3{
    font-size: 12px;
    margin-right: 10px;
}
.home-section .home form .formulario5 .selectCampo{
    font-size: 12px;
    border: none;
    border-bottom: 1px solid var(--black-color);
    background-color: var(--blue-cefa);
    border-radius: 5px;
}
.home-section .home form .formulario5 .medicoRevisor .selectCampo{
    font-size: 13px;
    padding: 2px;
    color: var(--black-color);
    font-weight: 400;
}

/*---------------------------------------------------------------------------------*/

.home-section .home form #erro{
    width: 100%;
    margin-top: 10px;
    margin-left: 5px;
}
.home-section .home form #sucess{
    margin-top: 10px;
    margin-left: 5px;
    width: 100%;
}
.home-section .home form .hide{
    display: none;
}
.home-section .home form .hide2{
    display: none;
}

.home-section .home form .btnEnviar button{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--blue-bfff);
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
.home-section .home form .btnMenu button{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--blue-bfff);
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
.home-section .home form .btnMenu button a{
    color: var(--black-color);
}

/*---------------------------------------------------------------------------------*/



@media (max-width: 1180px){
    .home-section .home{
        width: 100%;
        padding-left: 20px;
    }
}


@media (max-width: 980px){

    .home-section .home{
        flex-direction: column;
        width: 95%;
    }
    .home-section .home .form .cabecario{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 5px;
        width: 80%; 
    }
    .home-section .home .form .cabecario h1{
        font-size: 15px;
    }
    .home-section .home .form .cabecario .busca #numeroProntuarioBusca{
        width: 100%;    
        margin-top: 5px;   
    }
    .home-section .home form .cabecario button{
        margin: 5px;
        padding: 5px;
        border-radius: 10px;
        border: none;
        outline: none;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
    }
    .home-section .home form .cabecario .checkData{
        border-radius: 4px;
    }
    .home-section .home form .cabecario2{
        display: flex;
        padding-top: 20px;
        margin-top: 20px;
    }
    .home-section .home form .cabecario input{
        width: 100%;
    }
    .home-section .home form .cabecario .checkData{
        border-radius: 4px;
    }
    /*---------------------------------------------------------------------------------*/
    .home-section .home form .formulario1{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: left;
        margin-top: 5px;
        width: 80%; 
    }
    .home-section .home form .formulario1 .dados{
        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: left;
        margin-top: 5px;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .home-section .home form .formulario1 .dados label{  
        margin-top: 5px;
        width: 100%;
    }
    .home-section .home form .formulario1 .dados1{
        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: left;
        margin-top: 5px;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .home-section .home form .formulario1 .dados1 h3{
        width: 100%;
        font-size: 12px;
        margin-top: 5px;
    }
    .home-section .home form .formulario1 .dados1 input{
        min-width: 100%;
        margin-top: 5px;
    }
    .home-section .home form .formulario1 .dados1 select{
        min-width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .home-section .home form .formulario1 .dados1 .checkData {
        width: 99%;
    }
    .home-section .home form .formulario1 .dados1 #date3,#date4,#date5{
        width: 99%;
    }
    .home-section .home form .formulario1 .dados1 #input1,#input2,#input3,#input4,#input5,#input6,#input7,#input8,#input9,#input10{
        width: 99%;
    }
    .home-section .home form .formulario1 .dados1 #input2{
        width: 99%;
    }
    .home-section .home form .formulario1 .dados1 #input3{
        width: 99%;
    }
    .home-section .home form .formulario1 .dados1 #input5{
        width: 99%;
    }
    .home-section .home form .formulario1 .dados1 #nEvolMedTotal{
        margin-left: 0px;
    }
    .home-section .home form .formulario1 .dados1 .input8{
        margin-left: 0px;
    }
    .home-section .home form .formulario1 .dados1 .input9{
        margin-left: 0px;
    }
    .home-section .home form .formulario1 .dados1 .input10{
        margin-left: 0px;
    }
    .home-section .home form .formulario1 .dados1 #selectCampo1,#selectCampo2,#selectCampo3,#selectCampo4,#selectCampo5,#selectCampo6,#selectCampo7,#selectCampo8,#selectCampo9,#selectCampo10 {
        width: 99%;
    }
    .home-section .home form .formulario1 .dados1 #selectCampo8{
        width: 99%;
    }
    .home-section .home form .quali1{
        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: left;
        margin-top: 5px;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    /*---------------------------------------------------------------------------------*/

    .home-section .home form .formulario2{
        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: left;
        width: 80%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .home-section .home form .formulario2 .quali1{
        display: flex;
        align-items: left;
        flex-direction:column;
        gap: 5px;
    }
    .home-section .home form .formulario2 .quali1 h3{  
        width: 100%;
        font-size: 12px;
        margin-left: 10px;
    }
    .home-section .home form .formulario2 .quali1 .selectQuali{
        width: 99%;
        margin-right: 0px;
    }
    
    /*---------------------------------------------------------------------------------*/

    .home-section .home form .formulario3{
        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: left;
        width: 80%;
        margin-top: 20px; 
    }
    .home-section .home form .formulario3 .doenca1{
        display: flex;
        align-items: center;
        flex-direction:column;
        width: 100%;
        gap: 0;
        margin-top: 0px;
    }
    .home-section .home form .formulario3 .doenca1 h3{  
        width: 100%;
        font-size: 12px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .home-section .home form .formulario3 .doenca1 .doencaCampo1{
        width: 99%;
        margin-right: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .home-section .home form .formulario3 .doenca1 select{
        width: 99%;
        border-radius: 5px;
        margin-left: 5px;
    }
    .home-section .home form .formulario3 .doenca1 .doencaCampo2{
        width: 99%;
        margin-right: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    /*---------------------------------------------------------------------------------*/

    .home-section .home form .formulario4{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }
    .home-section .home form .formulario4 textarea{
        margin-top: 5px;
        width: 350px;
        height: 100px;
    }

    /*---------------------------------------------------------------------------------*/

    .home-section .home form .formulario5{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .home-section .home form .formulario5 h3{
        font-size: 12px;
        margin-right: 10px;
    
    }


}

