.tabelaRamais {
    width: 100%;
    margin-left: 10px;
    border-collapse: collapse;
    font-size: 14px;
    table-layout: fixed;
}

.tabelaRamais th,
.tabelaRamais td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    /* word-wrap: break-word; */
}

.tabelaRamais th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.tabelaRamais tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabelaRamais tr:hover {
    background-color: #eaeaea;
}

@media (max-width: 768px) {
    .tabelaRamais {
        font-size: 10px;
    }

    .tabelaRamais td:nth-child(1),
    .tabelaRamais th:nth-child(1) {
        width: 55%;
    }

    .tabelaRamais td:nth-child(2),
    .tabelaRamais th:nth-child(2) {
        width: 30%;
    }

    .tabelaRamais td:nth-child(3),
    .tabelaRamais th:nth-child(3) {
        width: 15%;
    }
}


