.container {
    /* max-width: 1200px; */
    margin: 10px 50px;
    padding: 0px 0px;

}

.container2 {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;

}

.container-header-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Header */
header {
    background-color: var(--bege);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.top-bar {
    background-color: var(--primary-green);
    color: var(--light-text);
    font-size: 0.85em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    ;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 50px;
}

.logo .texto-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-green);
    letter-spacing: 1px;
    margin-bottom: -10px;

}

.logo span {
    font-size: 0.6rem;
    font-weight: bold;
    color: var(--primary-green);
    letter-spacing: 1px;
    padding-top: -10px;
}

.main-nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.main-nav ul li a {
    text-decoration: none;
    color: var(--dark-text);
    font-weight: 600;
    font-size: 0.95em;
    transition: color 0.3s;
}

.main-nav ul li a:hover {
    color: var(--primary-green);
}

.nav-icons {
    display: flex;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icons i {
    font-size: 1.2em;
    color: var(--dark-text);
    cursor: pointer;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--primary-green);
    margin-left: 30px;
}

#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #386641;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.7em;
}





/* Footer */
footer {
    background-color: #000;
    color: var(--white);
    padding: 60px 0 20px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    margin-bottom: 40px;
}

.footer-grid p {
    color: #ccc;
}

.footer-col h4 {
    color: var(--accent-green);
    margin-bottom: 20px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-col .logo span {
    font-size: 0.6rem;
    font-weight: bold;
    color: var(--primary-green);
    letter-spacing: 1px;
    padding-top: -10px;
}

.footer-col .logo img {
    height: 80px;
}

.footer-col .logo h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-green);
    letter-spacing: 1px;
    margin-bottom: -10px;
}

.footer-col .cardpay {
    display: flex;
    gap: 10px;
    font-size: 1.5em;
    color: #ccc;
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 20px;
    text-align: center;
    font-size: 0.8em;
    color: #888;
}

.footer-bottom a {
    text-decoration: none;
    list-style: none;
    color: #f2f8f2;
}




@media (max-width: 768px) {
    .main-nav {
        gap: 0;
        padding: 10px 0;
        position: relative;
    }

    .menu-toggle {
        display: block;
        order: 2;
    }

    .logo {
        order: 1;
    }

    .nav-icons {
        order: 3;
    }

    .main-nav ul {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 115px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: var(--bege);
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        gap: 15px;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    .main-nav ul li a {
        display: block;
        padding: 10px 0;
    }

    .main-nav ul.active {
        display: flex;
    }

    .container-header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        margin-left: 15px;
    }

    .container-header-top p {
        font-size: 10px;
    }

}

@media (max-width: 480px) {
    .main-nav ul {

        top: 125px;

        width: 100vw;

        padding: 20px;

        gap: 15px;

    }

    .top-bar {

        padding-left: 10px;
        padding-right: 10px;
        ;
    }

    .container-header-top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .container {
        margin: 10px 10px;
    }

    .menu-toggle {
        margin-left: 10px;
    }

    .footer-grid{
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

   .footer-col .logo{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center
   } 

    .footer-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .footer-col ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }



}