*{
    margin: 0;
    padding: 0;
    border-radius: none;
}
main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding-top: 50px;
    padding-bottom: 50px;

}
.main{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #888;
    border-radius: 25px;
    padding: 75px;
    border: 1px solid #fff;
}
.main #text-header{
    display: flex;
    align-items: center;
    flex-direction: column;  
}
.main #text-header h1{
    text-shadow: #333 2px 2px 1px;
    letter-spacing: 1px;
    color: aqua;
}
.main #text-header h2{
    text-shadow: #333 2px 2px 1px;
    padding-bottom: 50px;
    letter-spacing: 1px;
    color: aqua;
}
.main form .material{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main form .custo-material{
 width: 50%;
}
.main form .material #sub-titulo h4{
    font-size: 17px;
    color: #222;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 3px;
}

.main form .material #campos{
    display: flex;
    
}
.main form .material  input{
    width: 100%;
    padding: 5px 0px 5px 15px;
    font-size: 14px;
    border-radius: 25px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.main .material #btn{
    margin-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main #btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main input[type="submit"]{
    cursor: pointer;
    padding: 7px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 3px solid #333;
    color: #000;
    font-size: 17px;        
}
.main .res{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 25px;

}
.main #resultado1, #resultado2, #resultado3, 
      #resultado4, #resultado5, #resultado6 {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

main .main ion-icon{
    font-size: 40px;
    padding-right: 5px;
    color: aqua;
} 

@media (max-width : 1200px) {
    main form .material{
        justify-content: baseline;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

@media (max-width : 865px) {
    main .main{
        width: 70%;
        padding: 50px 30px;
    }
    .main #text-header h1{
    font-size: 25px;
    }
    .main #text-header h2{
        font-size: 22px;
    }
    main .main ion-icon{
        font-size: 32px;
        color: aqua;
    } 
    main form .material{
        justify-content: baseline;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}
@media (max-width : 700px) {
    main .main{
        width: 70%;
        padding: 50px 30px;
    }
    .main #text-header h1{
    font-size: 20px;
    }
    .main #text-header h2{
        font-size: 19px;
    }
    .main form .material #sub-titulo h4{
        font-size: 15px;
    }
    main .main ion-icon{
        color: aqua;
    } 
}
@media (max-width : 450px) {
    main .main{
        width: 80%;
        padding: 50px 20px;
    }
    main .main ion-icon{
        font-size: 25px;
        color: aqua;
    } 
}