@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #000;
    --white-color: #fff;
    --black-color: #000;
    --grey-dark-color: #1C1C1C;
    --blue-color: #005ef1;
    --aqua-color: #97d0d9;
    --green-color: #008000;
    --red-color: #ff0000;
    --sun-color: #ffbf00;
    --grey-light: #c0c0c0;
    --grey-999-color: #999;
    --grey-888-color: #888;
    --grey-777-color: #777;
    --grey-666-color: #666;
    --grey-555-color: #555;
    --grey-333-color: #333;
    --grey-222-color: #222;
    
}

/*******************************************************************************************************************/
/*                                                  NAVBAR                                                         */  
/*******************************************************************************************************************/

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 9999;
}
header .container{
    padding-right: 30px;
}
/*****************************************/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    width: 100%;
    padding: 5px 7%;
}
nav .logo{
    display: flex;
    justify-content: space-between;
    text-align: center; 
    align-items: center;
}
nav .logo img{
    width: 75px;
}
nav .logo a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--grey-222-color);
    font-size: 12px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
}
/*****************************************/
nav ul{
    display: flex;
    gap: 30px;
}
nav ul li{
    list-style: none;
}
nav ul li .navbar-text{
    display: block;
    text-decoration: none;
    padding: 5px;
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    transition: 0.8s;
}
nav ul li .navbar-text:hover{
    background-color: var(--aqua-color);;
    color: var(--white-color);;
    transition: 0.8s;
    border-radius: 10px;
}
nav ul .ghost{
    display: none;
}
/*****************************************/
nav .btn{
    display: flex;
}
nav .btn a{
    color: var(--bg-color);;
    font-weight: 500;
    padding: 5px 10px;
    background-color: var(--aqua-color);
    border-radius: 10px;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid var(--bg-color);;
}
nav .btn a:hover{
    color: var(--white-color);
}
/*****************************************/
nav .hamburger{
    display: none;
    cursor: pointer;
}
nav .bar{
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: var(--aqua-color);
    transition: all 0.3s ease-in-out;
}

/*******************************************************************************************************************/
/*                                                 HOME.HTML                                                       */  
/*******************************************************************************************************************/

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh; 
    flex-direction: column;
}


main .home{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh; 
    flex-direction: column;
    align-items: center;
}
main .home h1, h2{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    color: var(--aqua-color);
    font-size: 100px;
    animation-delay: 1.5s;
}

/*******************************************************************************************************************/

main .sobre{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    min-height: 100vh;
}
main .sobre .intro-sobre{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    word-break: break-word;
}
main .sobre .intro-sobre h1{
    color: var(--aqua-color);
    font-size: 50px;
    text-shadow: var(--black-color) 2px 3px 2px;
}
main .sobre .intro-sobre p{
    font-size: 18px;
}

/*******************************************************************************************************************/

main .espaco{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh; 
}
main .espaco .intro-casa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main .espaco .intro-casa h1{
    color: var(--aqua-color);
    font-size: 50px;
    text-shadow: var(--black-color) 2px 3px 2px;
}
main .espaco .intro-casa p{
    font-size: 18px;
}

/***************************************************************************/

main .espaco .acomodacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main .espaco .acomodacoes .acomodacoes-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main .espaco .acomodacoes .acomodacoes-titulo h1{
    color: var(--aqua-color);
    font-size: 30px;
    text-shadow: var(--black-color) 2px 3px 2px;
}
main .espaco .acomodacoes .acomodacoes-subtitulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* main .espaco .acomodacoes .acomodacoes-subtitulos p{
    
} */

main .espaco .acomodacoes .quartos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem; 
    gap: 50px;
}
main .espaco .acomodacoes .quartos .quartos-fotos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px; 
    margin-bottom: 80px;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--white-color);
}
main .espaco .acomodacoes .quartos .quartos-fotos h3{
    color: var(--aqua-color);
    font-size: 20px;
    text-shadow: var(--black-color) 1px 3px 2px; 
}
/* main .espaco .acomodacoes .quartos .quartos-fotos .quartos-header{

}  */
main .espaco .acomodacoes .quartos .quartos-fotos .quartos-header img{
    width: 350px;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}  
main .espaco .acomodacoes .quartos .quartos-fotos .quartos-header{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 350px;
    background-color: var(--grey-555-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -10px;
}
main .espaco .acomodacoes .quartos .quartos-fotos .quartos-footer{
    font-size: 12px;
    background-color: var(--aqua-color);
    padding-top: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
main .espaco .acomodacoes .quartos .quartos-fotos .quartos-footer p{
    padding: 10px;
}
main .espaco .acomodacoes .quartos .quartos-fotos .quartos-icon{
    margin-top: -150px;
}
main .espaco .acomodacoes .quartos .quartos-fotos .quartos-icon img{
    width: 50px;
}

/***************************************************************************/

main .espaco .alimentacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main .espaco .alimentacao .alimentacao-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main .espaco .alimentacao .alimentacao-titulo h1{
    color: var(--aqua-color);
    font-size: 30px;
    text-shadow: var(--black-color) 2px 3px 2px;
}
main .espaco .alimentacao .alimentacao-subtitulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* main .espaco .alimentacao .alimentacao-subtitulos p{
} */
main .espaco .alimentacao .fotos-alimentacao{
    margin-top: 50px;
    margin-bottom: 50px;
}

/***************************************************************************/

main .espaco .diversos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main .espaco .diversos .diversos-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main .espaco .diversos .diversos-titulo h1{
    color: var(--aqua-color);
    font-size: 30px;
    text-shadow: var(--black-color) 2px 3px 2px;
}
main .espaco .diversos .diversos-subtitulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* main .espaco .diversos .diversos-subtitulos p{
} */
main .espaco .diversos .fotos-diversos{
    margin-top: 50px;
    margin-bottom: 50px;
}
/*******************************************************************************************************************/

main .profissionais{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh; 
    padding-top: 50px;
}
main .profissionais .equipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main .profissionais .equipe h1{
    color: var(--aqua-color);
    font-size: 50px;
    text-shadow: var(--black-color) 2px 3px 2px;
}
main .profissionais .equipe .container-equipe{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem; 
    gap: 50px;
}
main .profissionais .equipe .container-equipe .mural{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px; 
    margin-bottom: 80px;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--white-color);
} 
main .profissionais .equipe .container-equipe .mural .mural-header img{
    width: 350px;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}  
main .profissionais .equipe .container-equipe .mural .mural-header{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 350px;
    background-color: var(--grey-555-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -10px;
}
main .profissionais .equipe .container-equipe .mural .mural-footer{
    font-size: 12px;
    background-color: var(--aqua-color);
    padding-top: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
main .profissionais .equipe .container-equipe .mural .mural-footer p{
    padding: 10px;
}
main .profissionais .equipe .container-equipe .mural .mural-icon{
    margin-top: -150px;
}
main .profissionais .equipe .container-equipe .mural .mural-icon img{
    width: 50px; 
}

/*******************************************************************************************************************/

main .atividades{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh; 
    padding-top: 50px;
}
main .atividades .lazer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main .atividades .lazer h1{
    color: var(--aqua-color);
    font-size: 50px;
    text-shadow: var(--black-color) 2px 3px 2px;
}
main .atividades .lazer .container-lazer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem; 
    gap: 50px;
}
main .atividades .lazer .container-lazer .mural{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px; 
    margin-bottom: 80px;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--white-color);
} 
main .atividades .lazer .container-lazer .mural-header img{
    width: 350px;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}  
main .atividades .lazer .container-lazer .mural .mural-header{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 350px;
    background-color: var(--grey-555-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -10px;
}
main .atividades .lazer .container-lazer .mural .mural-footer{
    font-size: 12px;
    background-color: var(--aqua-color);
    padding-top: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
main .atividades .lazer .container-lazer .mural .mural-footer p{
    padding: 10px;
}
main .atividades .lazer .container-lazer .mural .mural-icon{
    margin-top: -150px;
}
main .atividades .lazer .container-lazer .mural .mural-icon img{
    width: 50px;  
}
/***************************************************************************/

main .atividades .lazer .subtitulo-atitivades {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/***************************************************************************/

main .atividades .lazer .fotos{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*******************************************************************************************************************/

main .contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
}
main .contacts .container-contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 80px;
    padding: 0px;
    background-color: var(--white-color);
}
main .contacts .container-contacts h1{
    color: var(--aqua-color);
    font-size: 50px;
    text-shadow: var(--black-color) 2px 3px 2px;
}
main .contacts .container-contacts .container-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/***************************************************************************/

main .contacts .container-contacts .container-box .container-links{
    display: flex;
    width: 90%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
main .contacts .container-contacts .container-box .container-links .types-social{
    display: flex;
    padding: 30px 5px;
    text-decoration: none; 
    transition: 0.8s;
}
main .contacts .container-contacts .container-box .container-links .types-social:hover{
    transform: scale(1.2);
    transition: 0.8s;
}
main .contacts .container-contacts .container-box .container-links .types-social .logo a{
    text-decoration: none;
    font-size: 60px;
    color: var(--aqua-color);
    margin-left: 10px;
    margin-right: 10px;
} 

/***************************************************************************/

main .contacts .container-contacts .container-box-principal{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    gap: 10px;
}

/***************************************************************************/

main .contacts .container-contacts .container-map{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

/***************************************************************************/

main .contacts .container-contacts .container-box .contact-email{ 
    display: flex;
    flex-direction: column; 
    width: 50%;
    padding-left: 40px;
    background-color: var(--white-color);  
}
main .contacts .container-contacts .container-box .contact-email h4{
    color: var(--black-color);
    font-size: 18px;
    text-shadow: var(--grey-777-color) 1px 1px 1px;
    letter-spacing: 1px;
}
main .contacts .container-contacts .container-box .contact-email .input-box{
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 10px;
}
main .contacts .container-contacts .container-box .contact-email .input-box input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid var(--grey-333-color);
    outline: none;
    resize: none;
}
main .contacts .container-contacts .container-box .contact-email .input-box input:valid ~ span,
main .contacts .container-contacts .container-box .contact-email .input-box input:focus ~ span{
    color: var(--aqua-color);
    font-size: 12px;
    transform: translateY(-20px);
}
main .contacts .container-contacts .container-box .contact-email .input-box span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: var(--grey-666-color);
}
main .contacts .container-contacts .container-box .contact-email .btn-send{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
main .contacts .container-contacts .container-box .contact-email input[type="submit"]{
    width: 100px;
    background: var(--aqua-color);
    color: var(--grey-dark-color);
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    transition: 0.8s;
    border-radius: 8px;
}
main .contacts .container-contacts .container-box .contact-email input[type="submit"]:hover{
    background: var(--grey-888-color);
    transition: 0.8s;
}

/***************************************************************************/

/*******************************************************************************************************************/
/*                                               FOOTER BAR                                                        */  
/*******************************************************************************************************************/

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
/*****************************************/
footer .container1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    background-color: var(--white-color);
    border-top: 1px solid var(--grey-666-color);
    width: 100%;
}
footer .container1 .empresa{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
footer .container1 .empresa h2{
    padding-bottom: 5px;
    font-size: 14px;
    color: var(--bg-color);
}
footer .container1 .empresa h3{
    padding-bottom: 0px;
    font-size: 11px;
}
/*****************************************/
footer .container1 .atendimento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
footer .container1 .atendimento h3{
    padding-bottom: 0px;
    font-size: 14px;
}
footer .container1 .atendimento h4{
    padding-bottom: 0px;
    font-size: 13px;
}
footer .container1 .atendimento ul{
    padding-left: 0;
} 
footer .container1 .atendimento ul li{
    font-size: 12px;
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: column;
}
footer .container1 .atendimento span{
    font-size: 12px;
}

footer .container1 .atendimento .phone{
    margin-top: 10px;
}
footer .container1 .atendimento .phone h3{
    padding-bottom: 0px;
    font-size: 14px;
}
footer .container1 .atendimento .phone ul li{
    padding-bottom: 0px;
    font-size: 12px;
}
/*****************************************/
footer .container1 .menu-cont{
    position: relative;
}
footer .container1 .menu-cont ul{
    gap: 10px;
}
footer .container1 .menu-cont ul li{
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: column;
}
footer .container1 .menu-cont ul li a{
    color: var(--bg-color);
    text-decoration: none;
    margin: 3px;
    font-size: 12px;
    font-weight: 600;
}
footer .container1 .menu-cont ul li a:hover{
    color: var(--aqua-color); 
}
/*****************************************/
footer .container1 .rede-sociais{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
footer .container1 .rede-sociais ul {
    display: flex;
    margin-top: 15px;
    gap: 40px;
    padding-left: 0;
}
footer .container1 .rede-sociais ul li{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;    
}
footer .container1 .rede-sociais ul li a{
    text-decoration: none;
    font-size: 35px;
    color: var(--aqua-color);
}

/*****************************************/
footer .container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    width: 100%;
}
footer .container2 .copyright{
    display: flex;
    align-items: center;
    gap: 10px;
}
footer .container2 a, h5, h6{
    text-decoration: none;
    color: var(--bg-color);
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 10px;
}
footer .container2 .copyright{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .container2 .copyright2{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------------------------------------------enviado.html--------------------------------------------*/

.msg-enviada{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(0deg, var(--white-color) 10%, var(--blue-color) );
    color: var(--white-color);
}
.msg-enviada .conteiner-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.msg-enviada .conteiner-msg .img-msg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.msg-enviada .conteiner-msg .img-msg img{
    width: 200px;
}
.msg-enviada .conteiner-msg .texto-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
} 
.msg-enviada .conteiner-msg .texto-msg h1{
    font-size: 30px;
    margin: 5px;
    color: var(--sun-color);
    text-shadow: 1px 1px 1px var(--grey-222-color);
}
.msg-enviada .conteiner-msg .texto-msg h2{
    font-size: 25px;
    margin: 2px;
    color: var(--blue-color);
    text-shadow: 1px 1px 1px var(--white-color);
    letter-spacing: 1px;
}
.msg-enviada .conteiner-msg .texto-msg h2 span{
    font-size: 15px;
    margin: 2px;
    color: var(--sun-color);
    text-shadow: 1px 1px 1px var(--grey-222-color);
    letter-spacing: 1px;
}
.msg-enviada .conteiner-msg .texto-msg h3{
    font-size: 25px;
    margin: 5px;
    color: var(--bg-color);
    text-shadow: 1px 1px 1px var(--white-color);
}
.msg-enviada .conteiner-msg .texto-msg h4{
    font-size: 14px;
    margin: 5px;
    color: var(--bg-color);
    text-shadow: 1px 1px 1px var(--white-color);
}
.msg-enviada .conteiner-msg .btn-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}
.msg-enviada .conteiner-msg .btn-msg a{
    text-decoration: none;
    padding: 15px 25px;
    font-size: 20px;
}
.msg-enviada .conteiner-msg .btn-msg a span{
    color: var(--white-color);
}

/*******************************************************************************************************************/
/*                                               KEY FRAMES                                                        */  
/*******************************************************************************************************************/
/* Animation page */
.init-hidden{
    opacity: 0;
    transition: opacity 1s linear;
}
.init-hidden-off{
    opacity: 1;
}
/**********************************/
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 1s linear forwards;  
}
.anim-logo{
    opacity: 0;
    animation: moveleft 2s linear forwards;
}
/**********************************/
.anim1{
    visibility: hidden;
}
.anim2{
    visibility: hidden;
}
.anim3{
    visibility: hidden;
}
/**********************************/

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
/**********************************/
@keyframes moveleft{
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
    0%{
        transform: translateX(-100%);
    }
}

/*******************************************************************************************************************/
/*                                               RESPONSIVIDADE                                                    */  
/*******************************************************************************************************************/

@media (max-width:1100px){
    nav{
        padding: 0px 3%;
    }
    nav .logo a{
        font-size: 12px;
    }
    nav ul li .navbar-text{
        padding: 10px;
        font-size: 16px;
    }
    nav .btn a{
        padding: 7px 12px;
        font-size: 14px;
    }

    nav ul{
        display: flex;
        gap: 20px;
    }
      nav ul li .navbar-text{
        display: block;
        text-decoration: none;
        padding: 2px;
        color: var(--bg-color);
        font-size: 12px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        transition: 0.8s;
    }
    /*****************************************/
    main .espaco .acomodacoes .quartos .quartos-fotos{
        width: 240px;
        margin-bottom: 20px;
    }
    main .espaco .acomodacoes .quartos .quartos-fotos .quartos-header img{
        width: 240px;
        height: 240px;
    }  
    main .espaco .acomodacoes .quartos .quartos-fotos .quartos-header{
        width: 240px;
        margin-bottom: 0px;
    }
    main .espaco .acomodacoes .quartos .quartos-fotos .quartos-footer p{
        width: 240px;
        padding: 10px;
    }
    /*****************************************/
    main .profissionais .equipe .container-equipe{
        gap: 50px;
    }
    main .profissionais .equipe .container-equipe .mural{
        width: 240px; 
        margin-bottom: 120px;
    } 
    main .profissionais .equipe .container-equipe .mural .mural-header{
        width: 240px;
        margin-bottom: -10px;
    }
    main .profissionais .equipe .container-equipe .mural .mural-header img{
        width: 240px;
        height: 200px;
    }  
    main .profissionais .equipe .container-equipe .mural .mural-footer{
        font-size: 12px;
        padding-top: 10px;
    }
    main .profissionais .equipe .container-equipe .mural .mural-footer p{
        padding: 10px;
    }
    main .profissionais .equipe .container-equipe .mural .mural-icon{
        margin-top: -190px; 
    }
    main .profissionais .equipe .container-equipe .mural .mural-icon img{
        width: 50px;
    }
    /*****************************************/
    main .atividades .lazer .container-lazer{
        gap: 50px;
    }
    main .atividades .lazer .container-lazer .mural{
        width: 240px; 
        margin-bottom: 120px;
    } 
    main .atividades .lazer .container-lazer .mural .mural-header{
        width: 240px;
        margin-bottom: -10px;
    }
    main .atividades .lazer .container-lazer .mural-header img{
        width: 240px;
        height: 200px;
    }  
    main .atividades .lazer .container-lazer .mural .mural-footer{
        font-size: 12px;
        padding-top: 10px;
    }
    main .atividades .lazer .container-lazer .mural .mural-footer p{
        padding: 10px;
    }
    main .atividades .lazer .container-lazer .mural .mural-icon{
        margin-top: -190px;
    }
    main .atividades .lazer .container-lazer .mural .mural-icon img{
        width: 50px;  
    }
    /*****************************************/
    footer .container1{
        padding: 10px 10px;
    }
    footer .container1 .empresa h2{
        padding-bottom: 5px;
        font-size: 16px;
    }
    footer .container1 .empresa h3{
        font-size: 11px;
    }
    footer .container1 h4{
        font-size: 11px;
    }
    footer .container1 .atendimento h3{
        font-size: 16px;
    }
    footer .container1 .atendimento ul li{
        font-size: 12px;
    }
    footer .container1 .atendimento span{
        font-size: 12px;
    }
    footer .container1 .phone{
        margin-top: 5px;
    }
    footer .container1 .rede-sociais ul li{
        margin-left: 10px;
    }
    footer .container1 .rede-sociais h4{
        font-size: 16px;
    }
    footer .container1 .rede-sociais #whats{
        font-size: 25px;
    }
    footer .container1 .rede-sociais #inst{
        font-size: 25px;
    }
    footer .container1 .rede-sociais #face{
        font-size: 25px;
    }
}

/*******************************************************************************************************************/

@media (max-width:900px){
    nav .logo a{
        font-size: 10px;
    }
    nav .logo .name a{
        font-size: 12px;
    }
    /*****************************************/
    footer .container2 .copyright{
        flex-direction: column;
        gap: 0px;
    }
    footer .container2 a, h5, h6{
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 100;
    }
}

/*******************************************************************************************************************/

@media (max-width:768px){
    nav .hamburger{
        display: block;
    }
    nav .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    nav .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    nav .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    nav{
        padding: 7px 15%;
    }
    nav ul{
        position: fixed;
        left: -100%;
        top: 65px;
        gap: 0;
        border-radius: 0 0 10px 10px;
        background-color: var(--aqua-color);
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    nav ul .ghost{
        display: contents;
    }
    nav .btn{
        display: none; 
    }
    nav ul li .navbar-text{
        margin: 5px 0;
        font-size: 20px;
        color: var(--white-color);
        background-color: var(--aqua-color);
    }
    nav ul li .navbar-text:hover{
        border: 1px solid var(--white-color);
    }
    nav ul.active{
        left: 0;
    }
    /******************************************/
    main .home h1{
        font-size: 75px;
    }
    /******************************************/
    main .espaco .acomodacoes .quartos .quartos-fotos{
        width: 200px;
        margin-bottom: 10px;
    }
    main .espaco .acomodacoes .quartos .quartos-fotos .quartos-header img{
        width: 200px;
        height: 150px;
    }  
    main .espaco .acomodacoes .quartos .quartos-fotos .quartos-header{
        width: 200px;
    }
    main .espaco .acomodacoes .quartos .quartos-fotos .quartos-header .carousel.slide .carousel-inner{
        height: 150px;
        width: 200px;
    }
    main .espaco .acomodacoes .quartos .quartos-fotos .quartos-footer p{
        width: 200px;
        padding: 10px;
    }
    /*****************************************/
    main .espaco .intro-casa{
        margin-top: 80px;
    }
    main .espaco .alimentacao .fotos-alimentacao{
        margin-top: 25px;
        margin-bottom: 25px;
    } 
    main .espaco .alimentacao .fotos-alimentacao .carousel.slide .carousel-inner{
        height: 100%;
    }
    main .espaco .diversos .fotos-diversos{
        margin-top: 25px;
        margin-bottom: 25px;
    } 
   /******************************************/
    main .profissionais .equipe{
        margin-top: 50px;
    }

    main .profissionais .equipe .container-equipe .mural{
        width: 200px; 
        margin-bottom: 150px;
    } 
    main .profissionais .equipe .container-equipe .mural .mural-header{
        width: 200px;
    }
    main .profissionais .equipe .container-equipe .mural .mural-header img{
        width: 200px;
        height: 150px;
    }  
    main .profissionais .equipe .container-equipe .mural .mural-icon{
        margin-top: -225px; 
    }
    /******************************************/

    main .atividades .lazer{
        margin-top: 50px;
    }
    main .atividades .lazer .container-lazer .mural{
        width: 200px; 
        margin-bottom: 150px;
    } 
    main .atividades .lazer .container-lazer .mural .mural-header{
        width: 200px;
    }
    main .atividades .lazer .container-lazer .mural-header img{
        width: 200px;
        height: 150px;
    }  
    main .atividades .lazer .container-lazer .mural .mural-footer{
        font-size: 12px;
        padding-top: 10px;
    }
    main .atividades .lazer .container-lazer .mural .mural-icon{
        margin-top: -225px;
    }
    main .atividades .lazer .subtitulo-atitivades {
        margin-top: 50px;
    }
    main .atividades .lazer .fotos{
        padding-top: 50px;
    }
    /******************************************/
   
    main .contacts .container-contacts{
        padding: 0;
        width: 98%;
    }
    main .contacts .container-contacts .container-box-principal{
        flex-direction: column;
        gap: 40px;
    }
    main .contacts .container-contacts .container-box .container-links .types-social{
        display: flex;
        padding: 0px 5px;
        text-decoration: none; 
        transition: 0.8s;
    }
    main .contacts .container-contacts .container-map{
        width: 100%;
    }
    main .contacts .container-contacts .container-box .contact-email{ 
        width: 100%;
        padding-left: 0px;
        background-color: var(--white-color);  
    }
    main .contacts .container-contacts .container-box .contact-email h4{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    /******************************************/
    footer .container1 .menu-cont{
        display: none;
    }
}

/*******************************************************************************************************************/

@media (max-width:600px){
    /*****************************************/
    main .home h1{
        font-size: 65px;
    }
    main .home img{
        width: 400px;
    }
    main .sobre .intro-sobre p{
        font-size: 16px;
    }
    main .espaco .intro-casa p{
        font-size: 16px;
    }
    main .espaco .intro-casa .acomodacoes .acomodacoes-titulo h1{
        font-size: 16px;
    }
    /******************************************/
    main .espaco .acomodacoes .quartos .quartos-fotos{
        width: 350px;
        margin-bottom: 10px;
    }
    main .espaco .acomodacoes .quartos .quartos-fotos .quartos-header img{
        height: 200px;
    }  
    main .espaco .acomodacoes .quartos .quartos-fotos .quartos-header{
        width: 200px;
        width: 350px;
    }
    main .espaco .acomodacoes .quartos .quartos-fotos .quartos-header .carousel.slide .carousel-inner{
        height: 200px;
        width: 100%;
    }
    main .espaco .acomodacoes .quartos .quartos-fotos .quartos-footer p{
        width: 350px;
        padding: 10px;
    }
    /******************************************/
    main .profissionais .equipe .container-equipe{
        gap: 20px;
    }
    main .profissionais .equipe .container-equipe .mural{
        width: 350px; 
        margin-bottom: 100px;
    } 
    main .profissionais .equipe .container-equipe .mural .mural-header{
        width: 350px;
    }
    main .profissionais .equipe .container-equipe .mural .mural-header img{
        width: 350px;
        height: 200px;
    }  
    main .profissionais .equipe .container-equipe .mural .mural-footer{
        font-size: 10px;
    }
    main .profissionais .equipe .container-equipe .mural .mural-icon{
        margin-top: -125px; 
    }
    /******************************************/
    main .atividades .lazer .container-lazer{
        gap: 20px;
    }
    main .atividades .lazer .container-lazer .mural{
        width: 350px; 
        margin-bottom: 100px;
    } 
    main .atividades .lazer .container-lazer .mural .mural-header{
        width: 350px;
    }
    main .atividades .lazer .container-lazer .mural-header img{
        width: 350px;
        height: 200px;
    }  
    main .atividades .lazer .container-lazer .mural .mural-footer{
        font-size: 10px;
    }
    main .atividades .lazer .container-lazer .mural .mural-icon{
        margin-top: -125px;
    }
    main .atividades .lazer .subtitulo-atitivades h1{
       font-size: 30px;
    }
    main .atividades .lazer .subtitulo-atitivades {
        margin-top: 25px;
    }
    main .atividades .lazer .fotos{
        padding-top: 25px;
    }
    /*****************************************/
    footer .container1{
        display: list-item;
        align-items: center;
        justify-content: center;
    }
    footer .container1 .empresa{
        border-bottom: 1px solid var(--grey-666-color);
        padding-bottom: 10px;
    }
    footer .container1 .atendimento{
        align-items: center;
        border-bottom: 1px solid var(--grey-666-color);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    footer .container1 .atendimento .phone{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    footer .container1 .menu-cont{
        display: none;
    }
    footer .container1 .rede-sociais{
        padding-top: 10px;
    }
    /*****************************************/
    footer .container2 h5{
        font-size: 10px;
        align-items: center;
    }
    footer .container2 h6{
        font-size: 8px;
    }
    footer .container2 .copyright2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    /*****************************************/

    .msg-enviada .conteiner-msg .img-msg img{
        width: 150px;
    }
    .msg-enviada .conteiner-msg .texto-msg h1{
        font-size: 20px;
    }
    .msg-enviada .conteiner-msg .texto-msg h3, h5{
        font-size: 15px;
    }
    .msg-enviada .conteiner-msg .btn-msg a{
        padding: 10px 20px;
        color: var(--grey-333-color);
    }
}

/*******************************************************************************************************************/

@media (max-width:425px){
    /*****************************************/
    main .home h1{
        font-size: 50px;
    }
    main .home img{
        width: 400px;
    }
    /******************************************/
    main .profissionais .equipe .container-equipe{
        gap: 20px;
    }
    main .profissionais .equipe .container-equipe .mural{
        width: 325px; 
        margin-bottom: 100px;
    } 
    main .profissionais .equipe .container-equipe .mural .mural-header{
        width: 325px;
    }
    main .profissionais .equipe .container-equipe .mural .mural-header img{
        width: 325px;
        height: 200px;
    }  
    main .profissionais .equipe .container-equipe .mural .mural-footer{
        font-size: 10px;
    }
    main .profissionais .equipe .container-equipe .mural .mural-icon{
        margin-top: -125px; 
    }
    /******************************************/
    main .atividades .lazer .container-lazer{
        gap: 20px;
    }
    main .atividades .lazer .container-lazer .mural{
        width: 325px; 
        margin-bottom: 100px;
    } 
    main .atividades .lazer .container-lazer .mural .mural-header{
        width: 325px;
    }
    main .atividades .lazer .container-lazer .mural-header img{
        width: 325px;
        height: 200px;
    }  
    main .atividades .lazer .container-lazer .mural .mural-footer{
        font-size: 10px;
    }
    main .atividades .lazer .container-lazer .mural .mural-icon{
        margin-top: -125px;
    }
    main .atividades .lazer .subtitulo-atitivades h1{
       font-size: 30px;
    }
}
/*******************************************************************************************************************/

